{% extends "base.html" %}

{% block title %}About - UNT Eagle Eye{% endblock %}

{% block content %}

<!-- About Us -->
<section class="about">
    <div class="wrapper">
        <h1>About UNT Eagle Eye</h1>
        <p>
            The UNT Eagle Eye web application is an independent, student-driven 
            platform designed to allow University of North Texas (UNT) students 
            to rate and review professor performance beyond the standardized SPOT 
            (Student Perception of Teaching) evaluation. This system provides students 
            with an unrestricted and anonymous space to share their experiences, helping 
            others make informed decisions about their courses and instructors.
        </p>
    </div>
</section>

{% endblock %}
