{% extends "base.html" %}

{% block title %}Professor Profile - UNT Eagle Eye{% endblock %}

{% block navbar %}
<nav class="navbar-gn">
    <div class="container">
        <div class="home-btn">
            <a href="{{ url_for('views.home') }}">
                <img src="{{ url_for('static', filename='images/HomeButton.png') }}" alt="Home Button">
            </a>
        </div>
        <div class="main-menu">
            <ul>
                <li>
                    <form action="results.html" method="get" class="sm-hero-search">
                        <i class="fas fa-search"></i>
                        <input type="search" placeholder="College of Engineering" name="q">
                        <button type="submit"><i class="fas fa-arrow-right"></i></button>
                    </form>
                </li>
                {% if session.get("user") %}
                    <li><span class="btn btn-light">👋 Welcome, {{ session["user"] }}</span></li>
                    <li><a class="btn btn-dark" href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="btn btn-light" href="{{ url_for('auth.login') }}"><i class="fas fa-user"></i> Login</a></li>
                    <li><a class="btn btn-dark" href="{{ url_for('auth.signUp') }}"><i class="fas fa-pen"></i> Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- Hamburger Button -->
        <button class="hamburger-button">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </button>
        <div class="mobile-menu">
            <ul>
                <li><a class="btn btn-light" href="#">Login</a></li>
                <li><a class="btn btn-dark" href="#">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<!-- Viewing Bar -->
<section class="viewing">
    <p>Currently Viewing "Jane Doe".</p>
</section>

<!-- Professor Info -->
<section class="professor">
    <div class="cover">
        <div class="cover-content">
            <div class="name-card">
                <h2>Professor</h2>
                <h1>Jane Doe</h1>
                <p>College of Engineering</p>
                <p class="lite">Computer Science</p>
                <div class="big-line"></div>
                <div class="rating-btm">
                    <div class="out-of-ten">
                        <h1>4.3</h1>
                        <p>/ 10</p>
                    </div>
                    <div class="btm-message">
                        <p>Quality Based on Student Ratings</p>
                        <p class="lite">34 ratings submitted</p>
                    </div>
                </div>
            </div>
            <div class="ratings">
                <p>How your peers rated...</p>
                <div id="my-chart">
                    <table class="charts-css bar show-labels data-spacing-5">
                        <tbody>
                            <tr><th scope="row">10</th><td style="--size: 0;"></td></tr>
                            <tr><th scope="row">9</th><td style="--size: 0.2;"></td></tr>
                            <tr><th scope="row">8</th><td style="--size: 0.2;"></td></tr>
                            <tr><th scope="row">7</th><td style="--size: 0.3;"></td></tr>
                            <tr><th scope="row">6</th><td style="--size: 0.4;"></td></tr>
                            <tr><th scope="row">5</th><td style="--size: 0.7;"></td></tr>
                            <tr><th scope="row">4</th><td style="--size: 1;"></td></tr>
                            <tr><th scope="row">3</th><td style="--size: 0.6;"></td></tr>
                            <tr><th scope="row">2</th><td style="--size: 0.2;"></td></tr>
                            <tr><th scope="row">1</th><td style="--size: 0;"></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="courses">
            <h2>Course History</h2>
            <div class="sm-line"></div>
            <div class="box">
                <div class="course-num">
                    <ul>
                        <li>CSCE 1045</li>
                        <li>CSCE 2100</li>
                        <li>CSCE 2110</li>
                        <li>CSCE 3600</li>
                        <li>CSCE 4210</li>
                    </ul>
                </div>
                <div class="course-name">
                    <ul>
                        <li>Computer Programming II</li>
                        <li>Foundations of Computing</li>
                        <li>Foundations of Data Structures</li>
                        <li>Principles of Systems Programming</li>
                        <li>Game Programming I</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
